apiVersion: v1
kind: Service
metadata:
  name: canary
  namespace: default
spec:
  ports:
  - name: http1
    port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: canary
    version: '3ddd753'
  sessionAffinity: None
  type: LoadBalancer